<table><h2>Performance Stages</h2>

<tr>
  <th>Stage</th>
  <th>Artist</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Add to My Schedule</th>
</tr>
  <% @stages.each do |stage| %>
  <tr>
    <% stage.sorted_performances.each do |performance| %>

      <td> <%= stage.name %> </td>
      <td> <%= performance.artist.name %> </td>
      <td> <%= performance.start_time.strftime("%A, %x at %l:%m%p") %> </td>
      <td> <%= performance.end_time.strftime("%A, %x at %l:%m%p") %> </td>
      <td> <%= button_to "Add to My Schedule", bookings_path(:performance_id => performance, :schedule_id => @user.schedule)%> </td>
    </tr>
    <% end %>
  <% end %>
</table>
<%#= render "common/nav_all" %>
