<!DOCTYPE html>
<html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h1 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

  </style>
</head>

<body background="https://static1.squarespace.com/static/54f74f23e4b0952b4e0011c0/t/5a864c819140b70db7702c42/1518750862653/Atmosphere_GovBallFireWorks-AliveCoverage.JPG">

  <h1> <%= current_user.first_name %>'s Governors' Ball Schedule Planner</h1>

  <h2>Performance Stages</h2>

  <table>
    <tr>
      <th>Stage</th>
      <th>Artist</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Add Performance</th>
    </tr>


    <tr>
      <% @stages.each do |stage| %>
        <tr>
          <% stage.sorted_performances.each do |performance| %>
            <td> <%= stage.name %> </td>
            <td> <%= performance.artist.name %> </td>
            <td> <%= performance.start_time.strftime("%A, %x at %l:%m%p") %> </td>
            <td> <%= performance.end_time.strftime("%A, %x at %l:%m%p") %> </td>
            <td> <%= button_to "Add to My Schedule", bookings_path(:performance_id => performance, :schedule_id => @user.schedule)%> </td>
          </tr>
          <% end %>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>
