<!DOCTYPE html>
<html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    h1 {
        color: Red;
        /* background-color: rgba(255,255,255,0.5); */
        font-family: Alba Super
    }

    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
        font-family: Alba Super
    }

  </style>
</head>

<<<<<<< HEAD
<body background="https://static1.squarespace.com/static/54f74f23e4b0952b4e0011c0/t/5a864c819140b70db7702c42/1518750862653/Atmosphere_GovBallFireWorks-AliveCoverage.JPG">
=======
<body background="http://bedfordandbowery.com/wp-content/uploads/2017/06/FullDelivery_BedfordBowery_GovernorsBall2017_DanielLeinweber-RazberryPhotography_06-copy.jpg">
     <br>

  <h1><div><span style="color:#ff0000;">P</span><span style="color:#ff2a00;">e</span><span style="color:#ff5500;">r</span><span style="color:#ff7f00;">f</span><span style="color:#ff9f00;">o</span><span style="color:#ffbf00;">r</span><span style="color:#ffdf00;">m</span><span style="color:#ffff00;">a</span><span style="color:#aaff00;">n</span><span style="color:#55ff00;">c</span><span style="color:#00ff00;">e</span><span style="color:#00ff40;"> </span><span style="color:#00ff80;">S</span><span style="color:#00ffbf;">t</span><span style="color:#00ffff;">a</span><span style="color:#00aaff;">g</span><span style="color:#0055ff;">e</span><span style="color:#0000ff;">s</span></div></h1>

  <table>
    <tr>
      <th>Stage</th>
      <th>Artist</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Add Performance</th>
    </tr>


    <tr>
      <% @stages.each do |stage| %>
        <tr>
          <% stage.sorted_performances.each do |performance| %>
            <td> <%= stage.name %> </td>
            <td> <%= performance.artist.name %> </td>
            <td> <%= performance.start_time.strftime("%A, %x at %l:%m%p") %> </td>
            <td> <%= performance.end_time.strftime("%A, %x at %l:%m%p") %> </td>
            <td> <%= button_to  bookings_path(:performance_id => performance, :schedule_id => @user.schedule), class: 'btn btn-primary'  do %>
              <i class="glyphicon glyphicon-plus"></i> Add to My Schedule
            <% end %> </td>

          </tr>
          <% end %>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>
