<!DOCTYPE html>
<html>
<head>
  <style>
    h2 {
        color: Black;
        background-color: rgba(255,255,255,0.7);
    }

    span {
        color: Red;
    }
  </style>
</head>

<body background="http://www.vanyaland.com/wp-content/uploads/2016/06/6.3.2016_GovBall_Festival_DarraghDandurand_01.jpg">

<h2>The most popular artist is: <span><%= @most_popular_artist.name %></span>.</h2>
<h2>The user with the most bookings is: <span><%= @user_with_most_bookings.first_name %> <%= @user_with_most_bookings.last_name %></span>.</h2>
<h2>Male users account for <span><%= @male_percentage %>%</span> of all users.</h2>
<h2>Female users account for <span><%= @female_count %>%</span> of all users.</h2>
<h2>Average age of all users is: <span><%= @users_avg_age %></span>.</h2>
<h2>The most booked starting time is: <span><%= @time_with_most_perf.first.hour %>:<%= @time_with_most_perf.first.min %></span> with <span><%= @time_with_most_perf.last %></span> bookings.</h2>

</body>

</html>
