<!DOCTYPE html>
<html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    h1 {
        color: Red;
        /* background-color: rgba(255,255,255,0.5); */
        font-family: Alba Super
    }

    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
        font-family: Alba Super
    }

  </style>
</head>

<body background="https://cdn.news.bandsintown.com/wp-content/uploads/2017/01/Header_Gov_Ball_Cage_The_Elephant_Ryan_Vestil.jpg">
    <br>
  <h1> <%= current_user.first_name %><span style="color:#ff4f00;">'</span><span style="color:#ff5f00;">s</span><span style="color:#ff6f00;"> </span><span style="color:#ff7f00;">G</span><span style="color:#ff8f00;">o</span><span style="color:#ff9f00;">v</span><span style="color:#ffaf00;">e</span><span style="color:#ffbf00;">r</span><span style="color:#ffcf00;">n</span><span style="color:#ffdf00;">o</span><span style="color:#ffef00;">r</span><span style="color:#ffff00;">s</span><span style="color:#dbff00;">'</span><span style="color:#b6ff00;"> </span><span style="color:#92ff00;">B</span><span style="color:#6dff00;">a</span><span style="color:#49ff00;">l</span><span style="color:#24ff00;">l</span><span style="color:#00ff00;"> </span><span style="color:#00ff20;">S</span><span style="color:#00ff40;">c</span><span style="color:#00ff60;">h</span><span style="color:#00ff80;">e</span><span style="color:#00ff9f;">d</span><span style="color:#00ffbf;">u</span><span style="color:#00ffdf;">l</span><span style="color:#00ffff;">e</span><span style="color:#00dfff;"> </span><span style="color:#00bfff;">P</span><span style="color:#009fff;">l</span><span style="color:#0080ff;">a</span><span style="color:#0060ff;">n</span><span style="color:#0040ff;">n</span><span style="color:#0020ff;">e</span><span style="color:#0000ff;">r</span></h1>

  <h2><div><span style="color:#ff0000;">A</span><span style="color:#ff2000;">r</span><span style="color:#ff4000;">t</span><span style="color:#ff5f00;">i</span><span style="color:#ff7f00;">s</span><span style="color:#ffaa00;">t</span><span style="color:#ffd400;"> </span><span style="color:#ffff00;">P</span><span style="color:#bfff00;">e</span><span style="color:#80ff00;">r</span><span style="color:#40ff00;">f</span><span style="color:#00ff00;">o</span><span style="color:#00ff55;">r</span><span style="color:#00ffaa;">m</span><span style="color:#00ffff;">a</span><span style="color:#00bfff;">n</span><span style="color:#0080ff;">c</span><span style="color:#0040ff;">e</span><span style="color:#0000ff;">s</span></div></h2>

  <table>
    <tr>
      <th>Artist</th>
      <th>Stage</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Add to My Schedule</th>
    </tr>


    <tr>
      <% @artists.each do |artist| %>
      <tr>
        <td> <%= artist.name %> </td>
        <td> <%= artist.performance ? artist.performance.stage.name : "------------" %> </td>
        <td> <%= artist.performance ? artist.performance.start_time.strftime("%A, %x at %l:%m%p") : "------------" %> </td>
        <td> <%= artist.performance ? artist.performance.end_time.strftime("%A, %x at %l:%m%p") : "------------" %> </td>
        <td> <%= button_to  bookings_path(performance_id: artist.performance, schedule_id: current_user.schedule), class: 'btn btn-primary'  do %>
          <i class="glyphicon glyphicon-plus"></i> Add to My Schedule
        <% end %> </td>
      </tr>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>

