<!DOCTYPE html>
<html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h1 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

  </style>
</head>

<body background="http://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/GovBall2017_MaryKang181_ofczcb/childish-gambino.jpg">

  <h1> <%= current_user.first_name %>'s Governors' Ball Schedule Planner</h1>

  <h2>Artist Performances</h2>

  <table>
    <tr>
      <th>Artist</th>
      <th>Stage</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Add to My Schedule</th>
    </tr>


    <tr>
      <% @artists.each do |artist| %>
      <tr>
        <td> <%= artist.name %> </td>
        <td> <%= artist.performance ? artist.performance.stage.name : "------------" %> </td>
        <td> <%= artist.performance ? artist.performance.start_time.strftime("%A, %x at %l:%m%p") : "------------" %> </td>
        <td> <%= artist.performance ? artist.performance.end_time.strftime("%A, %x at %l:%m%p") : "------------" %> </td>
        <td> <%= button_to "Add to My Schedule", bookings_path(performance_id: artist.performance, schedule_id: current_user.schedule) %> </td>
      </tr>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>
