
<table><h2>Artist Performances</h2>

<tr>
  <th>Artist</th>
  <th>Stage</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Add to My Schedule</th>
</tr>
  <% @artists.each do |artist| %>
  <tr>
    <td> <%= artist.name %> </td>
    <td> <%= artist.performance.stage.name if artist.performance %> </td>
    <td> <%= artist.performance.start_time.strftime("%A, %x at %l:%m%p") if artist.performance %> </td>
    <td> <%= artist.performance.end_time.strftime("%A, %x at %l:%m%p") if artist.performance %> </td>

    <td> <%= button_to "Add to My Schedule",
     bookings_path(performance_id: artist.performance, schedule_id: current_user.schedule) %> </td>
  </tr>
  <% end %>
</table>

<%#= render "common/nav_all" %>
