<h3>Artist Performances</h3>

<ul>
  <% @artists.each do |artist| %>
    <h3><%= artist.name %></h3>
    <p>Stage: <%= artist.stage.name if artist.stage %></p>
    Starting: <%= artist.performance.start_time.strftime("%A, %x at %l:%m%p") if artist.performance%><br>
    Ending: <%= artist.performance.end_time.strftime("%A, %x at %l:%m%p") if artist.performance %><br>
    <%= button_to "Yes! I'm going to this show.", bookings_path() %>
  <% end %>
</ul>

<%#= render "common/nav_all" %>
