<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    h1 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }
    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }
  </style>
</head>

<body background="http://www.passtheaux.co/wp-content/uploads/2017/06/governors-ball-teens-chris-lazzaro-1024x683.jpg">

<h1> <%= @friend_schedule.user.first_name %>'s Governors' Ball Schedule Planner</h1>
<table>
  <tr>
    <th>Your Current Schedule</th>
  </tr>
  <tr>
    <% @friend_schedule.bookings.each do |booking| %>
    <tr>
      <td> <%= booking.start_time %> </td>
      <td> <%= booking.end_time %> </td>
      <td> Seeing <%= booking.artist_name %> at the <%= booking.stage_name %> stage. </td>
    </tr>
      <% end %>

      <% if flash[:errors] %>
      <%= flash[:errors] %>
      <% end  %>
    </tr>
  </tr>
</table>

<br />

<h1> <%= current_user.first_name %>'s Governors' Ball Schedule Planner</h1>
<table>
  <tr>
    <th>Your Current Schedule</th>
  </tr>
  <tr>
    <% @user_schedule.bookings.each do |booking| %>
    <tr>
      <td> <%= booking.start_time %> </td>
      <td> <%= booking.end_time %> </td>
      <td> Seeing <%= booking.artist_name %> at the <%= booking.stage_name %> stage. </td>
      <td> <%= button_to "Remove From Schedule",
       booking, method: :delete %> </td>
    </tr>
      <% end %>

      <% if flash[:errors] %>
      <%= flash[:errors] %>
      <% end  %>
    </tr>
  </tr>
</table>

</body>
