<h1>Welcome to the Governors' Ball Schedule Planner</h1>

<th>Your Current Schedule</th>
<% @schedule.bookings.each do |booking| %>
    <%= booking.start_time %>
    <%= booking.end_time %>
    Seeing <%= booking.artist_name %> at the <%= booking.stage_name %> stage.<br />
<% end %><br />
<th> Links </th>
<div><%= link_to "Choose by Artist", artists_path %></div>

<div><%= link_to "Choose by Stage", stages_path %></div>

<div><%= link_to "Choose by Performance Time", performances_path %></div>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:friend_name, "Search for:") %>
  <%= text_field_tag(:friend_name) %>
  <%= submit_tag("Search") %>
<% end %>
