<h1>Welcome to the Governors' Ball Schedule Planner</h1>
<div>
<table>
  <tr>
    <th>Your Current Schedule</th>
  </tr>
  <tr>
    <% @schedule.bookings.each do |booking| %>
      <td> <%= booking.start_time %> </td>
      <td> <%= booking.end_time %> </td>
      <td> Seeing <%= booking.artist_name %> at the <%= booking.stage_name %> stage. </td>
    </tr>
  <% end %>
</table>
</div>

<table>
  <tr>
    <th>Add to Your Schedule</th>
  </tr>
  <tr>
    <tr><%= link_to "Choose by Artist", artists_path %></tr>
    <tr><%= link_to "Choose by Stage", stages_path %></tr>
    <tr><%= link_to "Choose by Performance Time", performances_path %></tr>
  </tr>
</table>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:friend_name, "Search for:") %>
  <%= text_field_tag(:friend_name) %>
  <%= submit_tag("Search") %>
<% end %>
