<h1> <%= current_user.first_name %>'s Governors' Ball Schedule Planner</h1>
<table>
  <tr>
    <th>Your Current Schedule</th>
  </tr>
  <tr>
    <% @schedule.bookings.each do |booking| %>
    <tr>
      <td> <%= booking.start_time.strftime("%A, %x at %l:%m%p") %> </td>
      <td> <%= booking.end_time.strftime("%A, %x at %l:%m%p") %> </td>
      <td> Seeing <%= booking.artist_name %> at the <%= booking.stage_name %> stage. </td>
      <td> <%= button_to "Remove From Schedule",
       booking, method: :delete %> </td>
    </tr>
      <% end %>

      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
</table>
