<!DOCTYPE html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h1 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

    h2 {
        color: DeepSkyBlue;
        /* background-color: rgba(255,255,255,0.5); */
    }

  </style>
</head>

<body background="https://static1.squarespace.com/static/58a3df51579fb36a558e018e/t/593d916920099e64e1c93629/1497207154812/">

  <h1> <%= current_user.first_name %>'s Governors' Ball Schedule Planner</h1>

  <h2>Performance Times</h2>

  <table>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Artist</th>
      <th>Stage</th>
      <th>Add Performance</th>
    </tr>


    <tr>
      <% @performances.each do |performance| %>
        <tr>
          <td> <%= performance.start_time.strftime("%A at %l:%m %p") %> </td>
          <td> <%= performance.end_time.strftime("%A at %l:%m %p") %> </td>
          <td> <%= performance.artist.name %> </td>
          <td> <%= performance.stage.name %> </td>
          <td> <%= button_to  bookings_path(:performance_id => performance, :schedule_id => @user.schedule), class: 'btn btn-primary'  do %>
            <i class="glyphicon glyphicon-plus"></i> Add to My Schedule
          <% end %> </td>

        </tr>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>
