<!DOCTYPE html>
<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
        background-color: rgba(255,255,255,0.5);
        color: black;
    }

    h1 {
        color: Red;
        text-align: center;
        font-family: Alba Super;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    h2 {
        color: DeepSkyBlue;
        font-family: Alba Super;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

  </style>
</head>

<body background="https://static1.squarespace.com/static/58a3df51579fb36a558e018e/t/593d916920099e64e1c93629/1497207154812/">
    <br>

  <h1><div><span style="color:#ff0000;">P</span><span style="color:#ff2000;">e</span><span style="color:#ff4000;">r</span><span style="color:#ff5f00;">f</span><span style="color:#ff7f00;">o</span><span style="color:#ff9f00;">r</span><span style="color:#ffbf00;">m</span><span style="color:#ffdf00;">a</span><span style="color:#ffff00;">n</span><span style="color:#aaff00;">c</span><span style="color:#55ff00;">e</span><span style="color:#00ff00;"> </span><span style="color:#00ff40;">S</span><span style="color:#00ff80;">c</span><span style="color:#00ffbf;">h</span><span style="color:#00ffff;">e</span><span style="color:#00bfff;">d</span><span style="color:#0080ff;">u</span><span style="color:#0040ff;">l</span><span style="color:#0000ff;">e</span></div></h1>

  <table>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Artist</th>
      <th>Stage</th>
      <th>Add Performance</th>
    </tr>


    <tr>
      <% @performances.each do |performance| %>
        <tr>
          <td> <%= performance.start_time.strftime("%A at %l:%m %p") %> </td>
          <td> <%= performance.end_time.strftime("%A at %l:%m %p") %> </td>
          <td> <%= performance.artist.name %> </td>
          <td> <%= performance.stage.name %> </td>
          <td> <%= button_to  bookings_path(:performance_id => performance, :schedule_id => @user.schedule), class: 'btn btn-primary'  do %>
            <i class="glyphicon glyphicon-plus"></i> Add to My Schedule
          <% end %> </td>

        </tr>
      <% end %>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <%= error %>
          <% end %>
      <% end  %>
      <br>
    </tr>
  </tr>
  </table>

</body>

</html>
