<h2>Sign in:</h2>
<%= form_tag sessions_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>

<br />

<label><%= link_to "Or click to create a new account", new_user_path%></label>
